/*
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
*/

* {
  font-family: Arial;
}

td, th {
  max-width: 32px;
}

.hidden {
  display: none;
}

.button {
  font-size: 1rem;
  padding: 4px 8px;
  border: 0;
}

.button:hover {
  cursor: pointer;
  opacity: 70%;
}

.testedTotalDelta .matrix, .tested {
  background-color: MediumVioletRed;
  color: Pink;
}

.confirmedTotalDelta .matrix, .confirmed {
  background-color: MediumBlue;
  color: LightBlue;
}

.hospitalizedCurrentDelta .matrix, .hospitalized {
  background-color: Chocolate;
  color: BlanchedAlmond;
}

.icuCurrentDelta .matrix, .icu {
  background-color: Purple;
  color: Thistle;
}

.ventilationCurrentDelta .matrix, .ventilation {
  background-color: Red;
  color: White;
}

.releasedTotalDelta .matrix, .released {
  background-color: ForestGreen;
  color: YellowGreen;
}

.deceasedTotalDelta .matrix, .deceased {
  background-color: Black;
  color: White;
}

table {
  text-align: center;
  font-size: 0.8rem;
}

td:hover {
  background-color: black;
  color: white;
  opacity: 100% !important;
}

.my-4 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.opacity-10 { opacity: 10%; }
.opacity-20 { opacity: 20%; }
.opacity-30 { opacity: 30%; }
.opacity-40 { opacity: 40%; }
.opacity-50 { opacity: 50%; }
.opacity-60 { opacity: 60%; }
.opacity-70 { opacity: 70%; }
.opacity-80 { opacity: 80%; }
.opacity-90 { opacity: 90%; }
.opacity-100 { opacity: 100%; }

.text-white {
  color: white !important;
}

.text-green {
  color: green !important;
}

.bg-pale-green {
  background-color: PaleGreen !important;
}

.bg-white {
  background-color: white !important;
}
